* {
    margin: 0;
    padding: 0;
}

.dark {
    background-color: hsl(207, 26%, 17%);
    color: white;
}
.white > * {
    background-color: hsl(0, 0%, 91%);
    color: black;
}
header {
    height: 8vh;
    background-color: hsl(209, 23%, 22%);
    color: white;
    display: grid;
    grid-template-columns: 80% 20%;
}
.dark-header {
    border-bottom: 3px rgb(189, 189, 189) solid;
}

.switch {
    display: block;
    position: relative;
    align-self: center;
    margin-left: 30%;
    width: 60px;
    height: 30px;
}
.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}
.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    background-color: hsl(207, 26%, 17%);
    transition: 0.4s;
}
.switch__slider::before {
    content: '';
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgb(76, 69, 204);
    transition: 0.4s;
}
.switch__input:focus + .switch__slider {
    box-shadow: 0 0 1px grey;
}
.switch__input:checked + .switch__slider {
    background-color: white; /**/
}
.switch__input:checked + .switch__slider::before {
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
}
h4 {
    margin-left: 10%;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.5px;
    align-self: center;
    cursor: pointer;
}
h4:hover {
    text-decoration: underline;
}

.content {
    padding: 3% 5%;
    min-height: 85vh;
}
.input-filter {
    margin-bottom: 3%;
    height: 6vh;
}

.input-white {
    height: 100%;
    width: 30%;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: rgb(77, 77, 77);
    padding-left: 40px;
    background-image: url(../public/img/magnifier-search-black.svg);
    background-size: 25px;
    background-position: 5px;
    background-repeat: no-repeat;
}
.input-black {
    background-color: hsl(209, 23%, 22%);
    color: white;
    background-image: url(../public/img/magnifier-search-white.svg);
    height: 100%;
    width: 30%;
    border: none;
    border-radius: 4px;
    padding-left: 40px;
    background-size: 25px;
    background-position: 5px;
    background-repeat: no-repeat;
}
input:focus {
    outline: none !important;
}

input[type='text']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type='text']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

select {
    width: 20%;
    height: 100%;
    float: right;
    border-radius: 4px;
    background-color: hsl(209, 23%, 22%);
    color: white;
    border: none;
    padding: 10px;
}
.select-dark {
    background-color: white;
    color: rgb(77, 77, 77);
}
select:focus {
    outline: none;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 3vh 5vh;
    justify-content: center;
}
.cart {
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-decoration: none;
}
.description {
    padding: 15px 10px;
    color: white;
}
.description-dark {
    background-color: white;
    color: black;
    padding: 15px 10px;
}
.character-picture {
    width: 200px;
    height: 200px;
}

.loading {
    min-height: 92vh;
    font-size: 46px;
    text-align: center;
}
.single-character {
    min-height: 82vh;
    padding: 5vh 8vh;
}
.goback {
    width: 20vh;
    height: 7vh;
    cursor: pointer;
}
.white-button {
    background-color: hsl(0, 0%, 91%);
    color: black;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px 1px black;
}
.black-button {
    background-color: hsl(209, 23%, 22%);
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px 1px grey;
}
.single-content {
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.single-description {
    margin-left: 7vh;
    width: 35vw;
}
.single-description > h3 {
    font-size: 30px;
    letter-spacing: 1.5px;
    padding-bottom: 3vh;
}
.single-description > p {
    margin: 10px 0;
    font-size: 18px;
}

.character-name {
    color: hsl(0, 0%, 52%);
}
.episode-list {
    color: hsl(0, 0%, 52%);
    text-decoration: none;
}
.episode-list:hover {
    text-decoration: underline;
    cursor: pointer;
}
.single-character > p {
    margin: 5vh 0;
}
.show-white {
    width: 15vw;
    height: 8vh;
    cursor: pointer;
    background-color: hsl(0, 0%, 91%);
    color: black;
    border-radius: 5px;
    margin-bottom: 5vh;
}
.show-black {
    width: 15vw;
    height: 8vh;
    cursor: pointer;
    background-color: hsl(209, 23%, 22%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5vh;
}
h2 {
    /* text-align: center; */
    font-size: 32px;
    margin: 3vh 0;
}

@media (max-width: 767px) {
    .switch {
        margin-left: 0;
    }
    .input-black,
    .input-white {
        width: 50%;
    }
    select {
        margin-right: 7%;
    }
    .single-content {
        grid-template-rows: 350px 1fr;
        grid-template-columns: 0;
    }
    .show-black,
    .show-white {
        height: 10vh;
        width: 40vw;
    }
}
